
  @import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@500&display=swap');




*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(45deg, #08001f, #30197d);
    font-family: 'Martian Mono', monospace;
}
.container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.clock-container{
    height: 150px;
    width: 500px;
    background-color: rgba(235, 0, 255, 0.11);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 40px;
    max-width: 350px;
    position: relative;
    border-radius: 30px;

}

.clock-container::before{
    content: '';
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: #f41b75;
    border-radius: 10px;
    left: -70px;
    top: -50px;
    z-index: -1;
   

}

.clock-container::after{
    content: '';
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: #419aff;
    border-radius: 50%;
    right: -50px;
    bottom: -60px;
    z-index: -1;

   

}

.clock-container span::after{
    content: 'HOUR';
    font-size: 20px;
     position: absolute;
     bottom: -5px;
     left: 50%;
     transform: translateX(-50%);
}



